body {
    background-color: lightgrey;
}

.container {
    width: 80%;
    margin: 50px auto;
}

.header {
    text-align: center;
}

.jim-cooper-image {
    border-radius: 3%;
}

.header p {
    font-size: 1.25em;
}

hr {
    margin: 50px 0;
}